aside {
  background-color: $quaternary;
  min-width: 300px;
  padding-top: 20vh;
  display: flex;
  & .wrapper {
    margin-bottom: 10vh;
    background-color: $quinary;
    padding: 0 3vw;
    
    .asideImg {
      position: relative;  
      left: -10%;
      top: -3vh;
      max-width: 100%;
      height: auto;
    }

    p {
      margin-bottom: 0;
    }

    div {
      margin-bottom: 3vh;
    }

    ul.posts {
      padding-bottom: 3vw;
    }
    ul p::before {
      content: '\25CF';
        color: $secondary;
        display: inline-block;
        width: 1.5em;
        font-size: medium;
    }
  }

  @include devices(tablet) {
    max-width: 600px;

    .wrapper {
      width: 90%;
      padding: 0 4vw;

      .asideImg {
        left: -13%;
      }
    }
  }

  @include devices(laptop) {
    width: 30%;

    .wrapper {
      width: 90%;
      padding: 0 2vw;
      height: fit-content;
      margin-left:60px;
  
      .asideImg {
        min-width: 120%;
        left: -30%;
      }
    }
  }

  @include devices(desktop) {
    width: 25%;
    .wrapper {
      padding: 0 1vw;

      .asideImg {
        min-width: 100%;
        left: -22%;
      }
    }
  }
}