.contactForm {
  // position: relative;
  // width: 90%;
  form {
    width: 80%;
    position: relative;
    top: -15vh;
    right: -3vw;
    box-shadow: 2vw 2vw 1px $tertiary;
    padding: 3vh 5vw 4vh;
    background-color: $quinary;

    // @include devices(tablet){
    //   box-shadow: 5px 5px 1px $tertiary;
    // }
    
    input,
    textarea,
    button {
      margin-top: 30px;
    }

    input,
    textarea {
      @include inputsAndTextareas(2, $primary);
      margin-bottom: 3%;
      width: 100%;
      padding-left: 20px;
      @include devices(tablet) {
        padding-left: 30px;
      }
    }
  
    textarea {
      border: 1px solid $primary;
      width: 100%;
      padding-top: 20px;
      @include devices(tablet) {
        padding-top: 30px;
      }
    }

    @include devices(tablet) {
    width: 85%;

      .formTopLine {
        display: flex;
        justify-content: space-between;
        input {
          width: 47%;
        }
      }
    }

    @include devices(laptop) {
    width: 90%;
    }
  }

}