.events {
  background-color: $quaternary;
  padding: 120px 0 110px;

  .flexContainer {
    display: flex;
    justify-content: space-between;

    .imgContainer {
      visibility: hidden;
    //   width: 25%;

    //   img {
    // box-shadow: -20px 20px 1px $tertiary;
    //   }
    }

    .txtContainer {
      // width: 90%;
      // text-align: center;

      // display: flex;
      // flex-direction: column;
      h3 {
        color: $tertiary;
      }

      p {
        margin-top: 15px;
      }
    }
  }

  @include devices(laptop) {
    .flexContainer {
      align-items: center;
    }

    .imgContainer {
      visibility: visible;
      width: 25%;
  
      img {
        box-shadow: -20px 20px 1px $tertiary;
        visibility: visible;
      }
    }

    .txtContainer {
      max-width: 65%;
      text-align: left;
    }
  }
}