header {
  // margin: 0 auto;
  background-color: $quaternary;
  background-image: url(../assets/home-image-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 85vh;
  // position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .headerTxtContainer {
  //   // padding: 0 auto;
  // //   // margin: 0 auto;
  // //   position: relative;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   // width: 100%;
  //   // padding-left: 500px;
  //   // align-items: center;
  //   // padding: 300px 0 200px 0;
    text-align: left;
  //   // margin: 40% 50%;
  //   // h1 
      z-index: 10;
    // h1, 
    // h2 {
    //   // text-align: left;
    // }
  }

    h2 {
      // line-height: 84px;
      @include lineHeight(84);
      // text-align-last: left;
    }


  img {
    width: 50vw;
    position: absolute;
    right: 0;
    bottom: -90px;
    z-index: 5;
    // top: 270px;
    // right: 0;
    // bottom: 5;
  }
  
  @include devices (mobile) {
    h1 {
      @include fontSize(84)
    }

    img {
      width: 70vw;
      bottom: -130px;
    }
  }
}

  // .headerImgContainer {
    // margin: 0;
    // width: 50%;
    // position: sticky;
    
  
  // }
// }
