header {
  margin-bottom: 20vh;
  background-image: url(../assets/home-image-1.jpg);
  background-position: center;
  background-size: contain;
  height: 85vh;
  position: relative;
  display: flex;


  .headerTxtContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    // padding-left: 500px;
    // align-items: center;
    // padding: 300px 0 200px 0;
    // text-align: left;
    // margin: 40% 50%;
    h1 

    h1, 
    h2 {
      z-index: 10;
      // text-align: left;
    }

    h2 {
      line-height: 84px;
    }
  }

  .headerImgContainer {
    margin: 0;
    
    img {
      width: 50%;
      position: absolute;
      z-index: 5;
      top: 270px;
      right: 0;
      bottom: 5;
    }
  }
}