.navBar {
  // ~~~ add a sticky navBar with JS
  // https: //www.w3schools.com/howto/howto_js_navbar_sticky.asp
  position: sticky;
  top: 0;
  z-index: 15;
  background-color: $quaternary;
  width: 100%;
  // left: 20%;

  ul{
    margin: 0 auto;
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}