.navBar {
  visibility: hidden;
  position: absolute;

  @include devices(tablet){
    visibility: visible;
    position: sticky;
    top: 0;
    z-index: 15;
    background-color: $quaternary;
    width: 100%;

    ul {
      margin: 0 auto;
      width: 60vw;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}

.navMobile {
  @include devices(tablet){
    visibility: hidden;
    position: absolute;
  }

  .mobileNavHeader {
    display: flex;
    justify-content: space-between;
  }
}

.slideOut {
  background: $quaternary;
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: -1000px;
  transition: 0.5s;
  z-index: 20;

  li {
    a {
      padding: 9px 0;
    }
  }

  &.open {
    right: 0;
  }

  & a {
    width: 100%;
    transition: 300ms;
  }

  & a:hover,
  & a:focus {
    background: $quaternary;
  }
}


