.navBar {
  visibility: hidden;

  @include devices(tablet){
    visibility: visible;
    // ~~~ add a sticky navBar with JS
    // https: //www.w3schools.com/howto/howto_js_navbar_sticky.asp
    position: sticky;
    top: 0;
    z-index: 15;
    background-color: $quaternary;
    width: 100%;
    // left: 20%;

    ul {
      margin: 0 auto;
      width: 60vw;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}



.navBar {
  .logo {
      text-align: center;
      // z-index: 25;
      position: sticky;
    }
    // .hideOnSlideOut {
    // }

  .mobileBar {
    display: flex;
    justify-content: space-between;

    @include devices(tablet) {
      display: none;

      .logo {
        display: none;
      }
    }
  }
  
  .closeMenu {
    @include devices(tablet) {
      display: none;
    }
  }
  .slideOutNav {
    // background: $quaternary;
    min-height: 100vh;
    // max-width: 480px;
    width: 100vw;
    position: fixed;
    top: 0;
    right: -1000px;
    transition: 0.5s;
    z-index: 20;

    &.open {
      right: 0;
    }

    & a {
      width: 100%;
      transition: 300ms;
    }

    & a:hover,
    & a:focus {
      background: $quaternary;
    }

    @include devices(tablet) {
      // ~~~ add a sticky navBar with JS
      // https: //www.w3schools.com/howto/howto_js_navbar_sticky.asp
      position: sticky;
      top: 0;
      z-index: 15;
      // background-color: $quaternary;
      width: 100%;
      min-height: 20px;
      max-width: 100%;
      right: 0;
      left: 0;

      .barMenu {
        margin: 0 auto;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .firstHalf,
        .secondHalf {
          width: 120%;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
  
  

  

  
}

