.pagesMenu {
  background-color: $quaternary;
  padding: 240px 0 100px;
  
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .menuItem {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
    }

    .iconContainer {
      max-width: 50px;
      min-width: 50px;
      max-height: 50px;
      min-height: 50px;
      margin-right: 15px;
      padding: 10px;
      background-color: $secondary;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }

    .txtContainer {
      p {
        margin-top: 15px;
      }
    }

    @include devices(tablet) {

      .menuItem {
        width: 48%;
      }
      
      
      
    }
  }
}