.party {
  background-color: $quaternary;
  padding: 170px 0 130px;
  text-align: center;
  
  h3 {
    color: $tertiary;
  }

  p {
    padding: 20px 0;
  }

  @include devices(laptop) {
    // width: ;
    p {
      padding: 0 100px;
    }
    
  }
}