.readMore {
  background-color: $quinary;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;

  .flexContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .txtContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      margin: 20px auto;
  
      .button {
        max-width: fit-content;
      }
    }

    .lastTxtContainer {
      text-align: right;
      align-items: flex-end;
    }

    img {
      width: 95%;
    }

    .firstImg {
      box-shadow: 5px 5px 1px $tertiary;
      position: relative;
      top: -60px;
    }

    .lastImg {
      box-shadow: -5px 5px 1px $tertiary;
      position: relative;
      left: calc(100vw - 95%);
      bottom: -60px;
    }

    @include devices(tablet) {
      .firstImg {
        box-shadow: 15px 15px 1px $tertiary;
        top: -70px;
      }

      .lastImg {
        box-shadow: -15px 15px 1px $tertiary;
        bottom: -70px;
      }
    }

    @include devices(laptop) {
      .txtContainer {
        max-width: 35%;
      }

      img {
        width: 40%;
        max-width: 40%;
        height: auto;
      }
    
      .firstImg {
        box-shadow: 25px 25px 1px $tertiary;
        top: -80px;
      }

      .lastImg {
        box-shadow: -25px 25px 1px $tertiary;
        left: 0;
        bottom: -60px;
      }
    }

    @include devices(desktop) {
      .firstImg {
        top: -100px;
      }

      .lastImg {
        bottom: -80px;
      }
    }
  }
}

