// skipLink Styles
.skipLink {
  background-color: white;
  color: black;
  // font-size: 1rem;
  padding: 10px 0;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;

  // because using sass, can nest it
  &:focus {
    left: 0;
    right: 0;
    text-align: center;
  }
}

// BASE STYLES
html {
  background-color: rgba($color: $quaternary, $alpha: 0.9);
  // rgba($color: $quaternary, $alpha: 1);
}

body {
  color: $primary;
  font-family: $secondaryFont;
  font-size: $baseFontSize;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form {
  margin: 0 auto 5%;
  padding: 50px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  input,
  textarea,
  button {
    margin-top: 30px;
  }

  input,
  textarea {
    margin-bottom: 3%;
    width: 100%;
    padding-left: 20px;
    color: $primary;
    &:focus,
    &:hover{
      color: $primary;
    }

    @include devices(tablet) {
      padding-left: 30px;
    }
  }

  textarea {
    width: 100%;
    padding-top: 20px;

    @include devices(tablet) {
      padding-top: 30px;
    }
  }

  @include devices(tablet) {
    width: 85%;

    .formTopLine {
      display: flex;
      justify-content: space-between;

      input {
        width: 47%;
      }
    }
  }

  @include devices(laptop) {
    width: 90%;
  }
}

p {
  margin: 0 0 20px;
}

img {
  max-width: 100%;
}

a {
  display: inline-block;

  &:hover,
  &:focus {
    color: $secondary;
  }

  &.navigation {
    &:hover,
    &:focus {
      color: $secondary;
    }
  }
}

button,
a.button {
  background-color: $secondary;
  padding: 5px 45px;

  &:hover,
  &:focus {
    background-color: $primary;
    color: $secondary;
  }
}

button {
  cursor: pointer;
  border: none;
  transition: 0.3s;

  &:hover,
  &:focus {
    background-color: $primary;
    color: $secondary;
  }

  &.openMenu,
  &.closeMenu {
    background-color: transparent;
    border: none;
    padding: 0;
  }
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}