// skipLink Styles
.skipLink {
  background-color: white;
  color: black;
  // font-size: 1rem;
  padding: 10px 0;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;

  // because using sass, can nest it
  &:focus {
    left: 0;
    right: 0;
    text-align: center;
  }
}

// BASE STYLES
html {
  background-color: rgba($color: $quaternary, $alpha: 0.9);
  // rgba($color: $quaternary, $alpha: 1);
}

body {
  color: $primary;
  font-family: $secondaryFont;
  font-size: $baseFontSize;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

a {
  display: inline-block;

  &:hover,
  &:focus {
    color: $secondary;
  }

  &.navigation {
    &:hover,
    &:focus {
      color: $secondary;
    }
  }
}

button,
a.button {
  background-color: $secondary;
  padding: 5px 45px;

  &:hover,
  &:focus {
    // checking this accessibility function is working
    background-color: $primary;
    color: $secondary; //.accessibility
  }
}

button {
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: $primary;
    color: $secondary;
  }

  &.openMenu,
  &.closeMenu {
    background-color: transparent;
    border: none;
    padding: 0;
  }
}

.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
}