// @font-face {
//   font-family: 'Tulpen', cursive;
//   src: url('https://fonts.googleapis.com/css2?family=Tulpen+One&display=swap');
//   font-weight: normal;
// }

// @font-face {
//   font-family: 'Chathura', sans-serif;
//   src: url('https://fonts.googleapis.com/css2?family=Chathura&display=swap');
//   font-weight: normal;
// }


// ~~~

html {
  font-size: 125%;
  font-family: $secondaryFont;
  font-weight: normal;
  color: $primary;
}

h1 {
  font-family: $primaryFont;
  color: $tertiary;
  @include fontSize(261.4);
  // letter-spacing: 2.4px;
  text-align: center;
  margin: 0;
}

h2,
h3,
h4 {
  font-family: $secondaryFont;
  font-weight: bold;
  margin: 0;
}

h2 {
  @include headingsDefault(83.2, 94.7, 2.6);
}

h3 {
  @include headingsDefault(68, 58, 2.2);
}

h4 {
  @include headingsDefault(58, 48, 1.8);
}
p {
  font-family: $secondaryFont;
  @include headingsDefault(39, 30, 1.9);
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  transition: 0.3s;

  // testing that mixnis, variables, and typography are working
  color: $primary;
  font-family: $primaryFont;
  
  &.navigation {
    font-family: $secondaryFont;
    font-weight: bold;
    text-transform: uppercase;
    @include headingsDefault(38, 29, 1.9);
  }

  &.logo {
    font-family: $primaryFont;
    @include fontSize(38)
  }
}

button,
a.button {
  font-family: $primaryFont;
  color: inherit;
  @include headingsDefault(38, 48, 1.8);
  text-transform: capitalize;
}
