.accent {
  color: $tertiary;
}

.blogSection {
  background-color: $quaternary;
  width: 100vw;

  .blogContent {
    display: flex;
    flex-direction: column;
    padding: 0 0 5vh;
    position: relative;
    // width: 70%;
    
    .wrapper {
      width: 80%;
    }
  }
    
}

@include devices(laptop) {

  .blogContent {
    width: 75vw;
    position: relative;
    // left: 20%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}