.accent {
  color: $tertiary;
}

.blogSection {
  background-color: $quaternary;  

  .blogContent {
    display: flex;
    flex-direction: column;
    padding: 0 0 5vh;
    position: relative;
    
    .wrapper {
      width: 80%;
    }
  }
}

@include devices(laptop) {
  .blogSection {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    .blogContent {
      width: 60%;
    }
  }
}