.contactSection {
  background-color: $quaternary;
  padding: 0 0 10vh;
  
  
  @include devices(laptop) {
    .contactFlexWrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 80%;
      margin: 0 auto;
    }
    
    padding-bottom: 1vh;
  } 

  @include devices(desktop) {
    .contactFlexWrapper {
      width: 75%;
    }
  }
}