.contactSection {
  background-color: $quaternary;
  padding: 0 0 10vh;
  // margin: 0 10%;
  
  .contactFlexWrapper {

    @include devices(laptop) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      // padding: 0 8vw 0;
      // padding: 0 0;
      width: 80%;
      margin: 0 auto;
    }
  }
    
  @include devices(laptop) {
    padding-bottom: 1vh;
  }
}