@import url('https://fonts.googleapis.com/css2?family=Tulpen+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chathura:wght@400;700&display=swap');

// SITE FONTS
$primaryFont: 'Tulpen One', cursive;
$secondaryFont: 'Chathura', sans-serif;

$baseFontSize: 1rem;

// SITE COLOURS
$primary: #FFF;
$secondary: #BF2603;
$tertiary: #FF8327;
$quaternary: #111010;
$quinary: #220303;
