// SITE FONTS
$primaryFont: 'Tulpen One', cursive;
$secondaryFont: 'Chathura', sans-serif;

$baseFontSize: 1rem;

// SITE COLOURS
$primary: #FFF;
$secondary: #BF2603;
$tertiary: #FF8327;
$quaternary: #111010;
$quinary: #220303;
