@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Tulpen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chathura:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  font-family: "Chathura", sans-serif;
  font-weight: normal;
  color: #FFF;
}

h1 {
  font-family: "Tulpen One", cursive;
  color: #FF8327;
  font-size: 261.4px;
  font-size: 13.07rem;
  line-height: 261.4px;
  line-height: 13.07rem;
  letter-spacing: 2.4px;
  letter-spacing: 0.12rem;
  margin: 0;
}

h2,
h3,
h4 {
  font-family: "Chathura", sans-serif;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 83.2px;
  font-size: 4.16rem;
  line-height: 94.7px;
  line-height: 4.735rem;
  letter-spacing: 2.6px;
  letter-spacing: 0.13rem;
}

h3 {
  font-size: 68px;
  font-size: 3.4rem;
  line-height: 58px;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
  letter-spacing: 0.11rem;
}

h4 {
  font-size: 58px;
  font-size: 2.9rem;
  line-height: 48px;
  line-height: 2.4rem;
  letter-spacing: 1.8px;
  letter-spacing: 0.09rem;
}

p,
input,
textarea {
  font-family: "Chathura", sans-serif;
  font-size: 39px;
  font-size: 1.95rem;
  line-height: 30px;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  letter-spacing: 0.095rem;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #FFF;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #FFF;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  color: #FFF;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  opacity: 1;
  color: #FFF;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #FFF;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #FFF;
  font-family: "Tulpen One", cursive;
}
a.navigation {
  font-family: "Chathura", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 38px;
  font-size: 1.9rem;
  line-height: 29px;
  line-height: 1.45rem;
  letter-spacing: 1.9px;
  letter-spacing: 0.095rem;
}
a.logo {
  font-family: "Tulpen One", cursive;
  font-size: 38px;
  font-size: 3.8rem;
}

button,
a.button {
  font-family: "Tulpen One", cursive;
  color: inherit;
  font-size: 38px;
  font-size: 1.9rem;
  line-height: 48px;
  line-height: 2.4rem;
  letter-spacing: 1.8px;
  letter-spacing: 0.09rem;
  text-transform: capitalize;
}

.skipLink {
  background-color: white;
  color: black;
  padding: 10px 0;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;
}
.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

html {
  background-color: rgba(17, 16, 16, 0.9);
}

body {
  color: #FFF;
  font-family: "Chathura", sans-serif;
  font-size: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form {
  margin: 0 auto 5%;
  padding: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
form input,
form textarea,
form button {
  margin-top: 30px;
}
form input,
form textarea {
  margin-bottom: 3%;
  width: 100%;
  padding-left: 20px;
  color: #FFF;
}
form input:focus, form input:hover,
form textarea:focus,
form textarea:hover {
  color: #FFF;
}
@media (min-width: 481px) {
  form input,
form textarea {
    padding-left: 30px;
  }
}
form textarea {
  width: 100%;
  padding-top: 20px;
}
@media (min-width: 481px) {
  form textarea {
    padding-top: 30px;
  }
}
@media (min-width: 481px) {
  form {
    width: 85%;
  }
  form .formTopLine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  form .formTopLine input {
    width: 47%;
  }
}
@media (min-width: 769px) {
  form {
    width: 90%;
  }
}

p {
  margin: 0 0 20px;
}

img {
  max-width: 100%;
}

a {
  display: inline-block;
}
a:hover, a:focus {
  color: #BF2603;
}
a.navigation:hover, a.navigation:focus {
  color: #BF2603;
}

button,
a.button {
  background-color: #BF2603;
  padding: 5px 45px;
}
button:hover, button:focus,
a.button:hover,
a.button:focus {
  background-color: #FFF;
  color: #BF2603;
}

button {
  cursor: pointer;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover, button:focus {
  background-color: #FFF;
  color: #BF2603;
}
button.openMenu, button.closeMenu {
  background-color: transparent;
  border: none;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

.navBar {
  visibility: hidden;
  position: absolute;
}
@media (min-width: 481px) {
  .navBar {
    visibility: visible;
    position: sticky;
    top: 0;
    z-index: 15;
    background-color: #111010;
    width: 100%;
  }
  .navBar ul {
    margin: 0 auto;
    width: 60vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 481px) {
  .navMobile {
    visibility: hidden;
    position: absolute;
  }
}
.navMobile .mobileNavHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slideOut {
  background: #111010;
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: -1000px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 20;
}
.slideOut li a {
  padding: 9px 0;
}
.slideOut.open {
  right: 0;
}
.slideOut a {
  width: 100%;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.slideOut a:hover, .slideOut a:focus {
  background: #111010;
}

header {
  background-color: #111010;
  background-image: url(../assets/home-image-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .headerTxtContainer {
  text-align: left;
  z-index: 10;
}
header h2 {
  line-height: 84px;
  line-height: 4.2rem;
}
header img {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: -10%;
  z-index: 5;
}
@media (min-width: 320px) {
  header h1 {
    font-size: 84px;
    font-size: 8.4rem;
  }
  header img {
    width: 70vw;
    bottom: -5%;
  }
}

.contactHeader {
  background-image: url(../assets/contact-header-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vh;
}
.contactHeader .wrapper {
  width: 80%;
}

.blogHeader {
  background-image: url(../assets/blog-header-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vh;
}
.blogHeader .wrapper {
  width: 80%;
}

.pagesMenu {
  background-color: #111010;
  padding: 240px 0 100px;
}
.pagesMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pagesMenu ul .menuItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.pagesMenu ul .iconContainer {
  max-width: 50px;
  min-width: 50px;
  max-height: 50px;
  min-height: 50px;
  margin-right: 15px;
  padding: 10px;
  background-color: #BF2603;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}
.pagesMenu ul .txtContainer p {
  margin-top: 15px;
}
@media (min-width: 481px) {
  .pagesMenu ul .menuItem {
    width: 48%;
  }
}

.readMore {
  background-color: #220303;
  padding: 50px 0;
}
.readMore .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.readMore .flexContainer .txtContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: 20px auto;
}
.readMore .flexContainer .txtContainer .button {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.readMore .flexContainer .lastTxtContainer {
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.readMore .flexContainer img {
  width: 95%;
}
.readMore .flexContainer .firstImg {
  -webkit-box-shadow: 5px 5px 1px #FF8327;
          box-shadow: 5px 5px 1px #FF8327;
  position: relative;
  top: -60px;
}
.readMore .flexContainer .lastImg {
  -webkit-box-shadow: -5px 5px 1px #FF8327;
          box-shadow: -5px 5px 1px #FF8327;
  position: relative;
  left: calc(100vw - 95%);
  bottom: -60px;
}
@media (min-width: 481px) {
  .readMore .flexContainer .txtContainer {
    padding-left: 2vw;
  }
  .readMore .flexContainer .lastTxtContainer {
    padding-right: 2vw;
    padding-left: 0px;
  }
  .readMore .flexContainer img {
    min-width: 450px;
    height: auto;
  }
  .readMore .flexContainer .firstImg {
    -webkit-box-shadow: 15px 15px 1px #FF8327;
            box-shadow: 15px 15px 1px #FF8327;
    top: -70px;
  }
  .readMore .flexContainer .lastImg {
    -webkit-box-shadow: -15px 15px 1px #FF8327;
            box-shadow: -15px 15px 1px #FF8327;
    bottom: -70px;
  }
}
@media (min-width: 769px) {
  .readMore .flexContainer .txtContainer {
    width: 35%;
    padding-left: 6vw;
  }
  .readMore .flexContainer .lastTxtContainer {
    padding-right: 6vw;
    padding-left: 0px;
  }
  .readMore .flexContainer img {
    width: 40%;
    max-width: 40%;
    height: auto;
  }
  .readMore .flexContainer .firstImg {
    -webkit-box-shadow: 25px 25px 1px #FF8327;
            box-shadow: 25px 25px 1px #FF8327;
    top: -80px;
  }
  .readMore .flexContainer .lastImg {
    -webkit-box-shadow: -25px 25px 1px #FF8327;
            box-shadow: -25px 25px 1px #FF8327;
    left: 0;
    bottom: -60px;
  }
}
@media (min-width: 1025px) {
  .readMore .flexContainer .firstImg {
    top: -100px;
  }
  .readMore .flexContainer .lastImg {
    bottom: -80px;
  }
}

.party {
  background-color: #111010;
  padding: 170px 0 130px;
  text-align: center;
}
.party h3 {
  color: #FF8327;
}
.party p {
  padding: 20px 0;
}
@media (min-width: 769px) {
  .party p {
    padding: 0 100px;
  }
}

.imgBreak {
  background-color: rgba(17, 16, 16, 0.9);
}
.imgBreak img {
  width: 100vw;
}

.events {
  background-color: #111010;
  padding: 120px 0 110px;
}
.events .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.events .flexContainer .imgContainer {
  visibility: hidden;
}
.events .flexContainer .txtContainer h3 {
  color: #FF8327;
}
.events .flexContainer .txtContainer p {
  margin-top: 15px;
}
@media (min-width: 769px) {
  .events .flexContainer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .events .imgContainer {
    visibility: visible;
    width: 25%;
  }
  .events .imgContainer img {
    -webkit-box-shadow: -20px 20px 1px #FF8327;
            box-shadow: -20px 20px 1px #FF8327;
    visibility: visible;
  }
  .events .txtContainer {
    max-width: 65%;
    text-align: left;
  }
}

.gallery {
  background-color: #220303;
}
.gallery .galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0;
}
.gallery .galleryContainer li {
  margin: 10px auto;
}
@media (min-width: 481px) {
  .gallery .galleryContainer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 100px 0;
  }
  .gallery .galleryContainer li {
    width: 32%;
  }
}

.contactForm form {
  width: 80%;
  position: relative;
  top: -15vh;
  right: -3vw;
  -webkit-box-shadow: 2vw 2vw 1px #FF8327;
          box-shadow: 2vw 2vw 1px #FF8327;
  padding: 3vh 5vw 4vh;
  background-color: #220303;
  color: #FFF;
}
.contactForm form input,
.contactForm form textarea {
  border: 0;
  border-bottom: 2px solid #FFF;
  background-color: inherit;
}
.contactForm form textarea {
  color: #FFF;
  border: 2px solid #FFF;
}

@media (min-width: 769px) {
  .contactInfo {
    padding-top: 20vh;
  }
}
.contactInfo p {
  margin: 0;
}
.contactInfo ul,
.contactInfo .email {
  margin-top: 20px;
}
.contactInfo .socialsIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactInfo .socialsIcons a {
  padding-right: 30px;
}

article {
  border: 0;
  border-bottom: 5px solid #FF8327;
  background-color: inherit;
  border-left: 3px solid #FF8327;
}
article img {
  -webkit-box-shadow: -2vw 2vw 1px #FF8327;
          box-shadow: -2vw 2vw 1px #FF8327;
  position: relative;
  top: -10vw;
}
article .blogTxtContainer {
  padding: 0 0 5vh;
}
@media (min-width: 769px) {
  article {
    padding-left: 1.7vw;
    border: 0;
    border-bottom: 5px solid #FF8327;
    background-color: inherit;
    border-left: 5px solid #FF8327;
  }
}

.comments .wrapper {
  margin-top: 10vh;
}
.comments .wrapper h3 {
  margin-bottom: 3vh;
}
.comments .wrapper ul li.comment:last-of-type {
  margin: 7vh 0 0;
}
.comments .wrapper ul .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.comments .wrapper ul .comment img {
  margin-bottom: 3vh;
}
@media (min-width: 481px) {
  .comments .wrapper ul .comment {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .comments .wrapper ul .comment img {
    padding-top: 1vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-width: auto;
  }
  .comments .wrapper ul .comment .commentTxtContainer {
    max-width: 80%;
  }
}
@media (min-width: 769px) {
  .comments .wrapper {
    margin-top: 5vh;
  }
}

.commentsForm form {
  width: 80%;
}
.commentsForm form input,
.commentsForm form textarea {
  border: 0;
  border-bottom: 2px solid #FF8327;
  background-color: inherit;
}
.commentsForm form textarea {
  border: 2px solid #FF8327;
}

aside {
  background-color: #111010;
  min-width: 300px;
  padding-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
aside .wrapper {
  margin-bottom: 10vh;
  background-color: #220303;
  padding: 0 3vw;
}
aside .wrapper .asideImg {
  position: relative;
  left: -10%;
  top: -3vh;
  max-width: 100%;
  height: auto;
}
aside .wrapper p {
  margin-bottom: 0;
}
aside .wrapper div {
  margin-bottom: 3vh;
}
aside .wrapper ul.posts {
  padding-bottom: 3vw;
}
aside .wrapper ul p::before {
  content: "●";
  color: #BF2603;
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1.5em;
  /* Also needed for space (tweak if needed) */
  font-size: medium;
}
@media (min-width: 481px) {
  aside {
    max-width: 600px;
  }
  aside .wrapper {
    width: 90%;
    padding: 0 4vw;
  }
  aside .wrapper .asideImg {
    left: -13%;
  }
}

footer {
  text-align: center;
}
footer p {
  margin: 10px 0 0;
}
footer a {
  font-family: inherit;
}

.contactSection {
  background-color: #111010;
  padding: 0 0 10vh;
}
@media (min-width: 769px) {
  .contactSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 8vw 0;
  }
}
.contactSection .wrapper {
  width: 80%;
}

.accent {
  color: #FF8327;
}

.blogSection {
  background-color: #111010;
  width: 100vw;
}
.blogSection .blogContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 5vh;
  position: relative;
}
.blogSection .blogContent .wrapper {
  width: 80%;
}

@media (min-width: 769px) {
  .blogContent {
    width: 75vw;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}